<phpunit backupGlobals="true" bootstrap="./vendor/autoload.php">
  <testsuite>
    <directory>./tests</directory>
  </testsuite>
  <filter>
    <blacklist>
      <file>./lib/Reader/ReaderInterface.php</file>
      <file>./lib/Reader/Transformer/TransformerInterface.php</file>
    </blacklist>
  </filter>
</phpunit>
